.Navbar{
  display: flex;
  justify-content: space-between;
  background-color: #222;
  padding: 1em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    display: flex;
    align-items: center; /* Alinha texto e ícones verticalmente */
    margin-right: 1em;
}

.item a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center; /* Garante que o link herda o alinhamento */
}

.item a:hover {
    color: #ffbb33;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 0.5em; /* Espaço entre o ícone e o texto */
    color: #ffbb33;
}
